label {
    color:black;
    font-weight: 600;
}
input {
    border-radius: 5px;
    border-style: none;
}
.btn{
    min-width: 140px;
    margin-bottom: 5px;
}
select {
    border-radius: 5px;
    border-style: none;
}

#listaDatos {
    display: none;
    list-style-type: none;
    padding: 0;
}

/* Estilo para los elementos de la lista */
#listaDatos li {
    cursor: pointer;
    padding: 5px;
    background-color: #f9f9f9;
    margin-bottom: 4px;
}

#listaDatos li:hover {
    background-color: #e0e0e0;
}

#listaDatos li.seleccionado {
    background-color: #c7eecf;
    /* Cambia el color de fondo a tu preferencia */
    border: solid 1px rgb(76, 121, 93);
}

.seccion {
    border:solid black 1px;
    border-radius: 5px;
}


.checkboxs label {
    font-weight: none;
    
}