* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

.coin {
    height: 150px;
    width: 150px;
    transform-style: preserve-3d;
    margin-bottom: 50px;
}

.coin img {
    width: 145px;
}

.btn-selected {
    opacity: 0.5;
    border-color: red;
}


.heads,.tails {
    backface-visibility: hidden;
}

.tails {
    transform: rotateX(180deg);
}

@keyframes spin-tails {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(1980deg);
    }
}

@keyframes spin-heads {
    0% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(2160deg);
    }
}
